@import "mixins";
@import "fonts";

body, * {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 100%;
  max-width: 1920px;
  padding: 0 25px;
  margin: 0 auto;

  &--no-padding {
    padding: 0;
  }

  &--big-padding {
    padding: 0 75px;
  }
}

.full-screen {
  height: 100vh;
  min-height: 720px;
}

.btn {
  text-decoration: none;
  margin: 0;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  color: #000000;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  padding: 0 30px;
}

.btn--transparent {
  background-color: transparent;
  color: #ffffff;
}